@use '../../assets/styles/common' as *;

.display {
    background: $panel-background;
    border-radius: $panel-radius;
    padding: $panel-padding;
    color: white;
    box-shadow: $panel-shadow;
    @extend .text-center;
    font-family: $font-family-mono;
    font-size: 1.2em;
    margin-bottom: 20px;
    border: 1px solid $primary-color;
    color: $primary-color;
}